*{
    box-sizing: border-box;
    margin: 0 auto;
}
section{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: grey;
}
section *{
    margin: 0 5px;
}